.div1{
  background-color: yellow;
  height:120px;
  width:100%;
  text-align: center;
  padding-top: 10px;
  position: fixed;
  border:2px dotted RED;
  z-index: 10;
}
.div2{
  background-color: azure;
}
.div3{
  background-color: gray;
  text-align: center;
}
.div4{
  background-color: azure;
}
.input1{
  border-radius: 15px;
}
.input2{
  border-radius: 10px;
  width:250px;
  margin-bottom: 10px;
}
.link{
  margin-left: 20px;
  border:1px solid blue;
  color:green;
  padding: 0 10px 0 10px;
  border-radius: 10px;
}
.heading1{
  color:blue;
  border:3px solid blue;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}
.heading2{
  text-align: center;
}
.p1{
  text-align: justify;
}
.btn1{
  width:130px;
  height:40px;
  border-radius: 15px;
  background-color:blue;
  color:white;
  font-size: 22px;
}