.div1{
  background-color: yellow;
  height:120px;
  width:100%;
  text-align: center;
  padding-top: 10px;
  position: fixed;
  border:2px dotted RED;
}
.div2{
  background-color: azure;
}
.div3{
  background-color: gray;
}
.div4{
  background-color: azure;
}
.input1{
  border-radius: 15px;
}
.link{
  margin-left: 20px;
  border:1px solid blue;
  color:green;
  padding: 0 10px 0 10px;
  border-radius: 10px;
}
.heading1{
  color:blue;
  border:3px solid blue;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}
.heading2{
  text-align: center;
}
.p1{
  text-align: justify;
}